* {
  box-sizing: border-box; }

body {
  background-color: white; }

.container {
  width: 98%;
  max-width: 841px;
  margin: 0 auto; }

.header {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  align-items: center;
  padding: 20px 0; }

.nav {
  display: flex;
  justify-content: flex-start;
  flex-wrap: wrap; }
  .nav__link {
    font-family: Tahoma, Verdana, 'Segoe UI', sans-serif;
    font-size: 16px;
    font-weight: bold;
    text-decoration: none;
    color: black;
    padding: 0 17px; }
    .nav__link:last-of-type {
      padding-right: 0; }

.article-p {
  color: #8d8d8d;
  font-family: 'Times New Roman', Times, serif;
  font-size: 14px;
  line-height: 20px;
  margin: 7px 0 0; }

.article-lead {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  background-color: #f0f0f0;
  font-family: Tahoma, Verdana, 'Segoe UI', sans-serif;
  padding: 20px 30px; }
  .article-lead-image {
    width: 48.5%;
    height: auto; }
  .article-lead-content {
    width: 48.5%; }
    .article-lead-content__header {
      font-size: 21px;
      line-height: 28px;
      margin: -2px 0 0; }
    .article-lead-content__button {
      background: linear-gradient(0deg, #b3372d 0%, #b5362e 7%, #d94137 96%);
      border: 1px solid transparent;
      border-radius: 2px;
      font-size: 13px;
      line-height: 22px;
      color: white;
      padding: 2px 23px;
      margin-top: 12px; }

.article-content {
  padding-top: 8px; }
  .article-content__subhead {
    font-family: Tahoma, Verdana, 'Segoe UI', sans-serif;
    font-size: 18px;
    line-height: 19px;
    margin-top: 15px;
    margin-bottom: 0; }
  .article-content-columns {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 27px; }
    .article-content-columns-column {
      display: flex;
      align-items: center;
      padding-top: 27px; }
      .article-content-columns-column:nth-of-type(3) {
        margin-left: 20px; }
      .article-content-columns-column__text {
        display: inline-block;
        font-family: 'Times New Roman', Times, serif;
        font-size: 14px;
        font-style: italic;
        line-height: 18px;
        padding-left: 17px;
        width: 140px; }
        .article-content-columns-column__text_narrow {
          width: 102px; }

@media screen and (max-width: 767px) {
  .nav {
    width: 100%;
    padding-top: 20px; }
  .article-lead-image {
    width: 100%;
    padding-bottom: 20px; }
  .article-lead-content {
    width: 100%; }
  .article-content-columns-column {
    width: 48%; }
    .article-content-columns-column:nth-of-type(3) {
      margin-left: 0; }
    .article-content-columns-column .calculator {
      padding: 0 5px; }
    .article-content-columns-column__text {
      width: auto; } }

@media screen and (max-width: 480px) {
  .article-content-columns-column {
    width: 100%; } }
