* {
  box-sizing: border-box;
}
body {
  background-color: rgb(255, 255, 255);
}
.container {
  width: 841px;
  margin: 0 auto;
}
.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 80px;
}
.nav {
  display: flex;
  justify-content: space-between;
  &__link {
    font-family: Tahoma, Verdana, 'Segoe UI', sans-serif;
    font-size: 16px;
    font-weight: bold;
    text-decoration: none;
    color: rgb(0, 0, 0);
    padding: 0 17px;
    &:last-of-type {
      padding-right: 0;
    }
  }
}
.article {
  &-p {
    color: rgb(141, 141, 141);
    font-family: 'Times New Roman', Times, serif;
    font-size: 14px;
    line-height: 20px;
    margin: 7px 0 0;
  }
  &-lead {
    display: flex;
    justify-content: space-between;
    background-color: rgb(240, 240, 240);
    font-family: Tahoma, Verdana, 'Segoe UI', sans-serif;
    padding: 20px 30px;
    &-image {
      width: 380px;
      height: 230px;
    }
    &-content {
      width: 380px;
      &__header {
        font-size: 21px;
        line-height: 28px;
        margin: -2px 0 0;
      }
      &__button {
        background: linear-gradient(0deg, rgba(179,55,45,1) 0%, rgba(181,54,46,1) 7%, rgba(217,65,55,1) 96%);
        border: 1px solid transparent;
        border-radius: 2px;
        font-size: 13px;
        line-height: 22px;
        color: rgb(255, 255, 255);
        padding: 2px 23px;
        margin-top: 12px;
      }
    }
  }
  &-content {
    padding-top: 8px;
    &__subhead {
      font-family: Tahoma, Verdana, 'Segoe UI', sans-serif;
      font-size: 18px;
      line-height: 19px;
      margin-top: 15px;
      margin-bottom: 0;
    }
    &-columns {
      display: flex;
      justify-content: space-between;
      align-items: center;
      height: 98px;
      &-column {
        display: flex;
        align-items: center;
        &:nth-of-type(3) {
          margin-left: 20px;
        }
        &__text {
          display: inline-block;
          font-family: 'Times New Roman', Times, serif;
          font-size: 14px;
          font-style: italic;
          line-height: 18px;
          padding-left: 17px;
          width: 140px;
          &_narrow {
            width: 102px;
          }
        }
      }
    }
  }
}